<a href="https://colab.research.google.com/github/Mads8760/Python/blob/main/EstudosPython.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Estudos de Váriaveis

In [ ]:
Frase = 'Esta é uma frase' #String
type(Frase)

a = 4 #Inteiro
type(a)

x = 2.5 #Float
type(x)

Q = True #Boleano
type(Q)

S = 1 + 2j #Complexo
type(S)

complex

Váriaveis convertidas

In [ ]:
C = str(19)
C

x = int(C)
C

'19'

In [ ]:
x = float(3)
a = str(x)
x = x + 1
a
print("Valor = " + a)
print ("Valor = ", x)

Valor = 3.0
Valor =  4.0

In [ ]:
x = int('11', base = 3) #Valores em base específica
x

4

In [ ]:
Frase = " Uma frase" #Separação das palavras
Frase
Frase.split()
a, b = Frase.split()
a
b

'frase'

In [ ]:
import math
math.sqrt(25)

5.0

In [ ]:
from math import cos, pi
cos(pi)

-1.0

In [ ]:
pip install pip

Requirement already satisfied: pip in /usr/local/lib/python3.10/dist-packages (23.1.2)

In [ ]:
frase = input("Digite uma frase \n")

Digite uma frase
ai dentu

Lembre-se que o número não é entre aspas e as frases sim!

In [ ]:
print(1, "mais um", 1, "igual a", 2)

1 mais um 1 igual a 2

Estruturas de Repetição
While e For

In [ ]:
i = 0
while i <= 10 :
  print(i)
  i += 1

for i in [0,1,2,3,4,5,6,7,8,9]:
  print(i)

for i in range(100):
  print(i)

0
1
2
3
4
5
6
7
8
9
10
0
1
2
3
4
5
6
7
8
9
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [ ]:
x = int(input('digite um valor: '))
if x>10:
  print('x maior que 10')
elif x<=10 and x>=5:
  print('x entre 5 e 10')
else:
  print('x menor que 5')

digite um valor: 6
x entre 5 e 10

In [ ]:
i = int(input('digite um valor: '))
for i in [1,1,2,3,5,8]:
    print(i)

digite um valor: 0
1
1
2
3
5
8

Calculando 9! em estruturas de repetição for e while

In [ ]:
# Inicialize o resultado como 1
resultado = 1

# Use um loop for para iterar de 1 até 9
for i in range(1, 10):
    # Multiplique o resultado pelo número atual do loop
    resultado *= i

# Imprima o resultado
print("O resultado de 9! é:", resultado)

O resultado de 9! é: 362880

In [ ]:
# Inicialize o resultado como 1
resultado = 1

# Inicialize o contador como 1
contador = 1

# Use um loop while enquanto o contador for menor ou igual a 9
while contador <= 9:
    # Multiplique o resultado pelo contador atual
    resultado *= contador

    # Incremente o contador
    contador += 1

# Imprima o resultado
print("O resultado de 9! é:", resultado)

O resultado de 9! é: 362880

Exercicios

In [ ]:
nome = "Ana"
idade = 25
cidade = "São Paulo"
print("ola! meu nome é", nome , "tenho" , idade , "e moro em", cidade)

ola! meu nome é Ana tenho 25 e moro em São Paulo

In [ ]:
numeros = [10, 20, 30, 40, 50]
soma = 10 + 20 + 30 + 40 + 50
med = soma/5
print(med)

30.0


Funções

In [ ]:
def minhafuncsoma(a,b):
  s = a + b
  return s

x = 6
y = 12
z = minhafuncsoma (x, y)

In [ ]:
def exemplo():
  print(A)

  A = 10
  exemplo()

In [ ]:
def exemplo1():
  A = 1
  print(A)

  A = 10
  exemplo1()

Calculando fatorial de um número

In [ ]:
def fat(n):
        if n < 0:
            print("ERRO")
            return
        elif n == 0:
            return 1
        else:
            return n*fat(n-1)
n = int(input("Digite um número: "))
r = fat(n)
print("n! = " , r)

Digite um número: 10
n! =  3628800

In [ ]:
numero1 = int(input("Digite o numero 1 : "))
numero2 = int(input("Digite o numero 2 : "))
numero3 = int(input("Digite o numero 3 : "))

media = (numero1 + numero2 + numero3) / 3

print(" a media é : " + str(media))

Digite o numero 1 : 10
Digite o numero 2 : 20
Digite o numero 3 : 30
 a media é : 20.0